@import url('https://fonts.googleapis.com/css?family=Thasadith:400,700');

body{
  margin: 0px auto;
  font-family: "JetBrains Mono",monospace;
  font-size: 11pt;
  color: #e0e0e0;
  background-color: #101a4a;
  /*#1d1e38;*/
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  
  
}

#authors{
  text-align: center;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #ccd4e6;
  margin-top: 20px;
  margin-bottom: 30px;


}

h3 {
  text-align: center;
  color: #ccd4e6;
}

h2 {
  text-align: center;
  color: white;
  margin-top: 0px;
  margin-bottom: 10px;
}

h4{
  font-style: italic;
  text-align: center;

}

#intro{
  height:200px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 60px;
  margin-left: 60px;

}

.intro-container{
  display: flex;
  height:450px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.main-intro{
  flex: 60%; 
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.notes-intro{
  flex: 40%; 
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.rows {
  display: flex;
  height:650px;
  opacity: 0;
  transition: .5s ease all;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  
}

.rows.visible {
  opacity: 1;}


.inner{
  flex: 30%; 
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.graph{
  flex: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 30px;
}

.legend {
  font-family: SourceSansPro-Light;
  font-size: 10pt;
  margin-bottom:0px;
  fill: #231F20; 
  } 
.legend-off {
  font-family: SourceSansPro-Light;
  font-size: 10pt;
  margin-bottom:0px;
  fill: #231F20; 
  }
.legend-select {
  font-family: SourceSansPro-Bold;
  font-size: 10pt;
  margin-bottom:0px;
  fill: #231F20; 
  }

.tooltip {
fill: white;
color:white;
font-family: Georgia;
font-size: 15px;
}

.buttonGDP:focus {
  background-color: #dee7fa; 
  border:1px solid #dee7fa;
  font-family: "JetBrains Mono",monospace;
  font-weight: bold;
  color: black;
  outline: none;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

.buttonGDP {
  background-color: #04086b; /* Green */
  border:1px solid gray;
  font-family: "JetBrains Mono",monospace;
  font-weight: normal;
  color: white;
  outline: none;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

.buttonGDP:hover {
  background-color: #dee7fa;
  border: none;
  color: #090d80;
}


.buttonYEAR:focus{
  background-color: #dee7fa; 
  border:1px solid #dee7fa;
  font-family: "JetBrains Mono",monospace;
  font-weight: bold;
  color: black;
  outline: none;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: left;

}
.buttonYEAR {
  background-color: #04086b; 
  border:1px solid gray;
  font-family: "JetBrains Mono",monospace;
  font-weight: normal;
  color: white;
  outline: none;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

.buttonYEAR:hover {
  background-color: #dee7fa;
  border: none;
  color: #090d80;
}



svg {
    font-family: "JetBrains Mono",monospace;
}

.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: #dee7fa;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}